<div id="follow-icons">
    <a href="mailto:prakhar@prakharprasad.com"><i class="fas fa-envelope-open fa-2x"></i></a>
	<a href="https://m.me/prasad.prakhar"><i class="fab fa-facebook-messenger fa-2x"></i></a>
	<a href="https://twitter.com/prakharprasad"><i class="fab fa-twitter fa-2x"></i></a>
	<a href="https://linkedin.com/in/prakharprasad"><i class="fab fa-linkedin-in fa-2x"></i></a>
	<a href="https://prakharprasad.com/pgp/key.asc"><i class="fas fa-key fa-2x"></i></a>
	<a href="{{@blog.url}}/security"><i class="fas fa-shield-alt fa-2x"></i></a>
	<a href="https://www.amazon.in/Mastering-Modern-Web-Penetration-Testing/dp/1785284584"><i class="fas fa-book-open fa-2x"></i></a>
<a href="{{@blog.url}}/rss"><i class="fas fa-rss-square fa-2x"></i></a>	
 
</div>                                                                  

<!--
<a href="http://github.com/username"><i class="fab fa-github-square fa-2x"></i></a>
<a href="http://plus.google.com/+username"><i class="fab fa-google-plus-square fa-2x"></i></a>
<a href="http://instagram.com/username"><i class="fab fa-instagram fa-2x"></i></a>
<a href="http://vimeo.com/username"><i class="fab fa-vimeo-square fa-2x"></i></a>
<a href="http://youtube.com/username"><i class="fab fa-youtube-square fa-2x"></i></a>
<a href="http://flickr.com/username"><i class="fab fa-flickr fa-2x"></i></a>
<a href="http://pinterest.com/username"><i class="fab fa-pinterest-square fa-2x"></i></a>
<a href="http://username.tumblr.com"><i class="fab fa-tumblr-square fa-2x"></i></a>
-->
